.main-container {
    display: flex;
    flex-direction: column;
   /* align-items: stretch; */
    justify-content: space-around;
    text-align: center;
    background-color:  rgb(183, 183, 183);
    font-family: Arial, Helvetica, sans-serif;
    min-width: 0px;
}

.flex-header {
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: white;
    min-height: 50px;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
}

.article-container {
    display: flex;
    flex-direction: column;
   /* justify-content: center; */
   /* align-items: stretch; */
    background-color: rgb(80, 232, 123);
    margin: 10px; 
    border-radius: 10px;
}



p.flex-article {
    display: flex;
    background-color: rgb(209, 6, 128);
    color: white;
    margin: 10px;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    border-radius: 10px;
}

.flex-aside {
    display: flex;
    flex-direction: column;
    background-color: navy;
    color: white;
    margin: 10px;
    min-height: 50px;
    border-radius: 10px;
    justify-content: center; 
}


.flex-footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 134, 13);
    color: white;
    margin: 10px;
    min-height: 50px;
    border-radius: 10px;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    .article-aside {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        min-width: 100dvw;
    }

    .flex-aside {
        flex-grow: 1;
    }

    .article-container {
        flex-grow: 2;
    }
}